body{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f5f6f7;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
    
.form-signin {
    height: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    display: block;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 120px;
    font-weight: 700;
    color: royalblue;
    
}

.form-signin .notice-what-doing {
    width: 200px;
    color: royalblue;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

.form-signin > p{
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}


input#username {
    width: 300px;
    height: 30px;
    margin: 4px;
}

input#password {
    width: 300px;
    height: 30px;
}
.form-signin > div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .5rem;
}
.btn-primary {
    color: #fff;
    background-color: royalblue;
    border-color: blue;
}
    
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 300px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;

}