<!DOCTYPE html>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml">

<style>

</style>


<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>검색</p>
<form action="/chart" method="post">
  <div>
    <label>종목명: </label>
    <input type="text" name="name" placeholder="종목명 입력">
    <label>종목코드: </label>
    <input type="text" name="code" placeholder="종목코드 입력">
    <button type="submit">검색</button>
  </div>
</form>
<figure class="highcharts-figure">
  <div id="container"></div>
</figure>

</body>

<script th:inline="javascript">
    Highcharts.chart('container', {

    chart: {
        type: 'boxplot'
    },

    title: {
        text: 'Highcharts Box Plot Example'
    },

    legend: {
        enabled: false
    },

    xAxis: {
        categories: [[${category}]],
        title: {
            text: 'Experiment No.'
        }
    },

    yAxis: {
        title: {
            text: 'Observations'
        }
    },

    series: [{
        name: 'Observations',
        data: [[${prices}]],
        tooltip: {
            headerFormat: '<em>Experiment No {point.key}</em><br/>'
        }
    }, {
        name: 'Outliers',
        color: Highcharts.getOptions().colors[0],
        type: 'scatter',
        data: [ // x, y positions where 0 is the first category

        ],
        marker: {
            fillColor: 'white',
            lineWidth: 1,
            lineColor: Highcharts.getOptions().colors[0]
        },
        tooltip: {
            pointFormat: 'Observation: {point.y}'
        }
    }]

});
</script>

