<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml"
      lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUMO</title>

    <link rel="icon" href="./images/logo2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/main.css">
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js">
</script>


<body>

<header>
    <div class="inner">
        <a href="./index.html" class="logo">
            <img src="./images/logo2.png" alt="JUMO">
        </a>

        <div class="sub-menu">
            <ul class="menu">
                <li sec:authorize="hasRole('ANONYMOUS')">
                    <a href="/login">로그인</a>
                </li>
                <li sec:authorize="hasRole('ANONYMOUS')">
                    <a href="/signup">회원가입</a>
                </li>
                <li sec:authorize="hasRole('USER')">
                    <a href="/userinfo">내정보</a>
                </li>
                <li sec:authorize="hasRole('USER')">
                    <a href="/logout">로그아웃</a>
                </li>
            </ul>
        </div>

    </div>
</header>
<div class="upper-empty"></div>

<div class="view-price">
    <div class="image-container">
        <div class="inner">
            <h1 class="explain-JUMO">
                주가 예측과 모의투자 JUMO와 함께
            </h1>
            <span class="sub-explain">예측과 손쉬운 모의투자 한번에!</span>
            <div class="sub-info">
                <div class="check-price">
                    <a href="/price" class="btn">
                        <span>주가 조회하기</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="view-chart">
    <div class="image-container">
        <div class="inner">
            <h1 class="explain-JUMO">
                차트 확인도 JUMO와 함께
            </h1>
            <div class="sub-info">
                <div class="check-price">
                    <a sec:authorize="hasRole('USER')" href="/stock_list" class="btn">
                        <span>차트 보기</span>
                    </a>
                    <a sec:authorize="hasRole('ANONYMOUS')" href="/login" class="btn">
                        <span>로그인하기</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>