<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js">
</script>


<body>

<div>
    <h2>로그인 정보</h2>
    <p>ID : <span sec:authentication="name"></span><p>
    <p>남은 금액 : <span sec:authentication="${"></span><p>
    <p>계정권한 정보 : <span sec:authentication="authorities"></span><p>
</div>

</body>
</html>