<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUMO 로그인</title>

    <link rel="icon" href="./images/logo2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <a href="/">
            <h2 class="form-signin-heading">JUMO</h2>
        </a>
        <h3 class="notice-what-doing">
            로그인
        </h3>
        <p>
            <label for="username" class="sr-only"></label>
            <input type="text" id="username" name="id" class="form-control" placeholder="아이디" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only"></label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required="">
        </p>
        <input name="_csrf" type="hidden" value="4ecca41d-07af-44e7-ad3e-0807fae96676">
        <div >
            <button class="btn btn-lg btn-primary btn-block" type="submit" style='cursor:pointer;'>로그인</button>
        </div>
        <div >
            <a class="btn btn-lg btn-primary btn-block" style='padding-left: 0; padding-right: 0;background-color:#E2E2E2;cursor:pointer;' href="/signup">회원가입</a>
        </div>
    </form>
</div>
</body>
</html>
