<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUMO 회원가입</title>

    <link rel="icon" href="./images/logo2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/signup.css">
</head>

<body>
<div class="container">
    <form class="form-user" method="post" action="/signup">
        <a href="/">
            <h2 class="form-user-heading">JUMO</h2>    
        </a>
        <h3 class="notice-what-doing">
            회원가입
        </h3>
        <p>
            <label for="username" class="sr-only"></label>
            <input type="text" id="username" name="id" class="form-control" placeholder="아이디" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only"></label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required="">
        </p>
        <input name="_csrf" type="hidden" value="4ecca41d-07af-44e7-ad3e-0807fae96676">
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style='cursor:pointer;' >가입하기</button>
        </div>
    </form>
</div>
</body>
</html>